<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="fees_and_facilitiesEntities1" connectionString="metadata=res://*/fees_and_facilitiesModels.csdl|res://*/fees_and_facilitiesModels.ssdl|res://*/fees_and_facilitiesModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_and_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_and_facilitiesEntities" connectionString="metadata=res://*/fees_and_facilities_Models.csdl|res://*/fees_and_facilities_Models.ssdl|res://*/fees_and_facilities_Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_and_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_and_facilitiesEntities2" connectionString="metadata=res://*/fees_and_facilities_models.csdl|res://*/fees_and_facilities_models.ssdl|res://*/fees_and_facilities_models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_and_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_and_facilitiesEntities3" connectionString="metadata=res://*/fees_and_faclities_models.csdl|res://*/fees_and_faclities_models.ssdl|res://*/fees_and_faclities_models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_and_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_2017Entities" connectionString="metadata=res://*/fees_and_facities_model.csdl|res://*/fees_and_facities_model.ssdl|res://*/fees_and_facities_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_2017;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_and_facilitiesEntities4" connectionString="metadata=res://*/fees_and_facilities_model.csdl|res://*/fees_and_facilities_model.ssdl|res://*/fees_and_facilities_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARK-SHILLA\SQLEXPRESS;initial catalog=fees_and_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fees_facilitiesEntities" connectionString="metadata=res://*/fees_and_facilities_model4.csdl|res://*/fees_and_facilities_model4.ssdl|res://*/fees_and_facilities_model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=fees_facilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>